.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    width: 85%;
}
.Card{
    margin: 0 2% !important;
     width: 85%;
     flex-basis: unset;

}

.infected{
    border-bottom: 10px solid rgb(0,0,255,0.5);
}
.deaths{
    border-bottom: 10px solid rgb(255,0,0,0.5);
}
.recovered{
    border-bottom: 10px solid rgb(0,255,0,0.5);
}
@media only screen and (max-width: 570px) {
    .card {
      margin: 2% 0 !important;
    }
  }